@model IEnumerable<Alumni.Web.ViewModels.CharityDonationViewModel>
@{
    foreach (var item in Model)
    {
        <div class="charity-donation">
           <h1>@item.Title</h1>
           <p>@item.Content</p>
            <h3>@item.DonationGoal</h3>
            <h4>@item.CurrentlyRaisedDonations</h4>
            @foreach (var don in item.Donators)
            {
                <div class="donators">
                    <h3>@don.UserName</h3>
                </div>
            }
        </div>
    }
}