@model Alumni.Web.ViewModels.AllContentViewModel

<div class="Posts">
	@foreach (var post in Model.Posts)
	{
		<div>
			<h1>@post.Title</h1>
			<p>@post.Contents</p>
			<img src="@post.ImageUrl"></img>
			<p>Post created on: @post.CreatedOn</p>
			<p>Post last edited on: @post.LastEdited</p>
			
		</div>
	}
	@foreach (var news in Model.News)
	{
		<div>
			<h1>@news.Title</h1>
			<p>@news.Contents</p>
			<img src="@news.ImageUrl"></img>
			<p>News created on: @news.CreatedOn</p>
			<p>News last edited on: @news.LastEdited</p>
		</div>
	}
	@foreach (var ev in Model.Events)
	{
		<div>
			<h1>@ev.Title</h1>
			<p>@ev.Contents</p>
			<img src="@ev.ImageUrl"></img>
			<p>Event created on: @ev.CreatedOn</p>
			<p>Event last edited on: @ev.LastEdited</p>
		</div>
	}
	@foreach (var cd in Model.CharityDonations)
	{
		<div>
			 <h1>@cd.Title</h1>
			<p>@cd.Content</p> 
			<img src="@cd.ImageUrl"></img>
			<p>Donation goal: @cd.DonationGoal</p>
			<p>Currently Raised: @cd.CurrentlyRaisedDonations</p>
			<p>Charity Donation created on: @cd.CreatedOn</p>
			<p>Charity Donation last edited on: @cd.LastEdited</p>
			@* <p>Donators:</p>
			@foreach (var donator in cd.Donators)
			{
				<div><p>@donator.Email</p></div>
			} *@
		</div>
	}
</div>