@model IEnumerable<Alumni.Web.ViewModels.NewsViewModel>
@{
    ViewData["Title"] = "News";
}

<h1 class="text-center display-4">News</h1>

@foreach (var news in Model)
{
    <div>
        <h1><a asp-controller="News" asp-action="NewsDetails" asp-route-newsId="@news.NewsId">@news.Title</a></h1>
        <p>@news.Contents</p>
        <img src="@news.ImageUrl"></img>
        <p>News created on: @news.CreatedOn</p>
        <p>News last edited on: @news.LastEdited</p>
    </div>
}   